@import "../_variables";

.homeContainer {
    padding: 0 4rem;
    height: calc(100vh - 120px);
    background: url("../../assets/home.svg") no-repeat 0% center/cover;
    margin:0;

   


    .homeContent {
        display: flex;
        flex-direction: column;
        padding-top: 8rem;

        .homeTitle {
            font-size: nth($fontSize,10);
            margin-bottom: 0;
            color:#fff;
        }

        .homeDesc {
            width: 50%;
            font-size: nth($fontSize,5);
            margin-bottom: 0;
            line-height: 1.6;
            color:#e1e1e1;
        }
    }
}