@import "../_variables";


.loginContainer {
padding-bottom: 8rem;

    .authForm {
        margin-top: 2.5rem;

        .authEmailInput {
            width: 35rem;
        }

        .loginButton {
            width: fit-content;
            padding: 0 1.6rem;
        }
    }
}